body {
  font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif !important;
  font-size: 16px;
  color: #404040;
  font-weight: 400;
  font-variant: normal;
  line-height: 1.5em;
  position: relative;
  text-align: left;
  word-break: break-all;
}



.productList {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px 10px;
  margin-bottom: 20px;

  gap: 6px;
}

@media screen and (max-width: 768px) {
  .productBox {
      border-radius: 4px;
  }
}

  .productBox {

      align-self: stretch;
      width: calc((100% - 30px) / 4);
      min-width: calc((100% - 30px) / 4);
      background-color: #fff;
      border-radius: 6px;
      position: relative;
      border: solid 1px #ccc;
      container-type: inline-size;
      container-name: productBox;
  }

  section {
    display: block;
    unicode-bidi: isolate;
}

a:link, a:visited, a:active {
  text-decoration: none;
}
a, input[type=submit], .btn, button {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  opacity: 1;

  text-decoration: none;
  color: #f2488c;

  background-color: transparent;
  text-decoration: none;
  color: inherit;

  color: #0d6efd;
    text-decoration: underline;
}



a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}


div {
  display: block;
  unicode-bidi: isolate;
}

.productBox .img_wrap {
  position: relative;
}


@media screen and (max-width: 768px) {
  .productBox .img_wrap img {
      border-radius: 4px;
  }
}

.productBox .img_wrap img {
  width: 100%;
  aspect-ratio: 1 / 1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

img, svg {
  vertical-align: middle;
}

svg, img, embed, object, iframe {
  vertical-align: bottom;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}


@container productBox (max-width: 175px) {
    .productBox .priceBox .txt_price {
        font-size: .75rem;
    }
}


.productBox .priceBox .txt_price {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}


@container productBox (max-width: 175px) {
  .productBox .priceBox {
      padding: 0 4px;
      border-radius: 0 0 0 4px;
  }
}


.productBox .priceBox {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px 8px;
  background: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 768px) {
  .productBox .inner {
      display: none;
  }
}

.productBox .inner {
  padding: 10px 8px;
}

.productBox .caption {
  color: #404040;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.5;
  min-height: 3em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: unset;
}


h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

h3, .h3 {
  font-size: calc(1.3rem + .6vw);
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}



/* .button {
  cursor: pointer;
}

input {
  position: absolute;
  left: -99999999px;
}

button {
  height: 2rem;
}

.file-upload{
  display: flex;
  align-items: center;
} */